
@{
    ViewBag.Title = "AnsweredQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="viewContent">
    <div class="card-body Box-Align">
        <h5 class="card-title">Bu departmanın anketini daha önce cevapadınız. Lütfen başka departman seçiniz</h5>
    </div>
    <div class="row row0">
        <div class="col-xl-12">
            <div class="card text-center">
                <div class="card-content">
                    <a href="#" onclick="history.back(-1)" class="btn btn-primary">Departmanlara Git</a>
                </div>
            </div>
        </div>
    </div>
</div>

