
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="viewContent">
    <div class="card-body Box-Align">
        <h5 class="card-title">Anket başarıyla tamamlandı.</h5>
    </div>
    <div class="row row0">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-content">
                    <a href="/step1/OZYERGROUP/resepsiyon/hamitdemirgmailcom/TR" class="btn btn-primary">Ankete Git</a>
                </div>
            </div>
        </div>
    </div>
</div>

