@model Questionnaire.Models.ServiceModel.ServiceModel
@{
    ViewBag.Title = "Parent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="viewContent">
    <div class="card-body Box-Align">
        <h3 class="mb-2">@Model.Company.Name</h3>
        <img style="height:165px;" class="mb-2" src="@Model.Company.Logo" alt="Alternate Text" />
        <h5 class="card-title">Lütfen Departman Seçiniz</h5>
    </div>
    <div class="row row0">
        @foreach (var item in Model.Departments)
        {
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <img class="card-img img-fluid" src="@item.Icon" alt="Card image">
                        <div class="card-img-overlay overlay-dark bg-overlay d-flex justify-content-center flex-column Box-Align">
                            <div class="overlay-content">
                                <h4 class="card-title mb-50">@item.Title</h4>
                                <div class="overlay-status">
                                    <a href="/step1/@Model.Company.CompanyGuid/@item.DepartmenGuid/@Model.Customer.CustomerGuid/@Model.Language.Code/" class="btn btn-primary">Ankete Git</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

